*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background: radial-gradient(circle at top, #0f3d2e, #071a14);
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    gap: 35px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.55);
}
.tasbih{
    align-items: center;
    text-align: center;
    background: #111;
    color: #0ff;
    font-size: 40px;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: 0.3s ease;
    width: 270px;
    height: 70px;
}
.buttons{
    display: flex;
    gap: 25px;

}
button{
    padding:12px 28px;
    border-radius:30px;
    border:none;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;
}
.tap{
    background:#f5d98b;
    color:#071a14;
}


.reset{
    background:transparent;
    color:#f5d98b;
    border:2px solid #f5d98b;
}
.led-on{
    background-color: white !important;
}